/*
NOM : Tayache
Prénom : Rayane

*/

<<<<<<< HEAD
body {
    background-color: rgb(121, 182, 179);
    font-family: sans-serif ;
}

h1{
=======
body 
{
    background-color: skyblue;
    font-family: sans-serif ;
}

h1
{

    display:flex;
    justify-content: center;
}

<<<<<<< HEAD
footer {
=======
footer 
{

    font-size: 90% ;
    font-style: italic;
    display: flex;
    justify-content: center;

}

<<<<<<< HEAD
#shuffle {
    border: none ; 
    border-radius: 10%;
    
}

#shuffle:hover {
    background-color:blue ; 
    color:  white ;
}

#puzzlearea {
=======
#shuffle 
{
    border: none ; 
    border-radius: 40% ;
    
}

#shuffle:hover 
{
    background-color: purple ; 
    color:  white ;
}

#puzzlearea 
{

    width: 368px; 
    height: 368px; 
    display: flex;
    flex-wrap: wrap ; 
<<<<<<< HEAD
    background-color:rgb(121, 182, 179);
=======
    background-color:green;

    margin-left: auto;
    margin-right: auto; 
    
}

<<<<<<< HEAD
.tuile{
=======
.tuile
{

  display:flex;
  flex-direction: column;
  width: 90px; 
  height: 90px; 
  background-size: contain; 
  border: solid gray 1px;
}

<<<<<<< HEAD
.tuile p {
=======
.tuile p 
{

    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
    font-size : 110% ; 
    color : grey; 
    text-shadow: 1px 0 0 red,
        -1px 0 0 #fff,
        0 1px 0 #fff,
        0 -1px 0 #fff,
        1px 1px #fff,
        -1px -1px 0 #fff,
        1px -1px 0 #fff,
        -1px 1px 0 #fff;
<<<<<<< HEAD
}    /* La propriété definis ci-dessus rajoute une ombre autour du texte des paragraphes dont l'id est tuile */ 
=======
    /* Commentaire:  cette propriété rajoute une ombre autour du texte  */ 
}

